@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;
}

.active{
  color: white;
}

.smooth-transition {
  transition: width 0.3s ease-in-out; /* Adjust the duration and easing as needed */
}